body {
    background-image:url("back.jpg");
    background-repeat: no repeat;
    background-attachment: fixed;
    color: #313131;
    font-family: "Trebuchet MS";
    
} 
h3,h2{font-family:"Verdana";
       size:25px;}
a{color:black;text-decoration:none;}


.nav{padding-left:70px;padding-top:10px;padding-bottom:10px; border:2px solid white;
background-color:#20B2AA; margin:20px; }




.nav:hover{background-color:white; padding:10px;border: 2px solid #20B2AA;
color:#20B2AA;}

.red{color:red;background-color:#d6d6d6;}
.code{background-color:#d6d6d6; font:code; }

.mcq{}